.container {
    height: 100vh;
    margin: 0;
    background-color: rgb(255, 255, 255);
    background-color: rgba(246, 246, 246, 1.00);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgContainer {
    width: 100%;
    max-width: 800px;
}

.imgContainer img {
    width: 100%;
}

.header {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header h1 {
    margin: 20px 0;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    font-weight: 100;
    color: rgb(56, 55, 55);
}

.header span {
    margin-right: 20px;
    padding: 10px 30px;
    border-right: 1px solid rgb(56, 55, 55, 0.8);
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: black;
}

.header a {
    margin-top: 30px;
    border-bottom: 1px solid rgb(56, 55, 55);
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    font-weight: 400;
    color: black;
}
.header a:visited {
    color: black;
}

@media all and (max-width: 768px) {
    .header {
        margin-top: 30px;
    }
    .header h1 {
        font-size: 18px;
    }

    .header span {
        margin-right: 15px;
        padding: 8px 20px;
        font-size: 22px;
    }

    .header a {
        font-size: 18px;
    }
}

@media all and (max-width: 400px) {
    .header {
        margin-top: 20px;
    }
    .header h1 {
        margin: 20px 0;
        font-size: 15px;
    }

    .header span {
        margin-right: 8px;
        padding: 5px 15px;
        font-size: 16px;
    }

    .header a {
        margin-top: 15px;
        font-size: 16px;
    }
}